body{
	font-family: arial;
	background-image: url('../../images/login.jpg');
	background-size: 100%;
}
.form{
	width: 500px;
	margin: 70px auto;
	box-sizing: border-box;
	box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	padding-bottom: 40px;
	background-color:rgba(0, 0, 0, 0.4);
}
.form h1{
	text-align: center;
	padding: 20px 0;
	color: #fff;
}

.form-main{
	color: #fff;
}
.form-main div{
	margin: 0px 90px 20px 100px;

}
.form-main input{
	height: 35px;
	width: 300px;
	color: #666;
	border-top: none;
	border-left: none;
	border-radius: 10px;
	border-bottom: 1px #ccc solid;

}

.login input{
	height: 35px;
	width: 300px;
	border: none;
	border-radius: 4px;
	margin-left: 0px;
	color: #ffffff;
	background-color: #0055A4;
	cursor: pointer; /* chuyá»ƒn dáº¡ng con trá»� chuá»™t*/


}
.login input:hover{
  transform: translateY(-3px);
  

}
#check-box{
	height: 15px;
	width: 15px;
	color: #fff;
}
.form-main a{
	text-decoration: none;
	color: #fff;
}

.clear{
	clear: bottom;
}
.ttk{
	margin-left: 100px;
}

.ttk button{
	width: 35%;
	height: 25px;
	border-radius: 4px;
	background: #0055A4;
	float: left;
	margin-left: 5px;
	cursor: pointer;
}

.ttk a{
	text-decoration: none;
	color: #fff;
}
.ttk button:hover{
	transform: translateY(-3px);
}